html {
  overflow-x: hidden;
}

body {
  color: #9698B9;
}


#page-content * {
  box-sizing: border-box;
}


a {
  color: #5154aa
}

a:hover {
  color: #41328a;
}

.main h1, .main h2, .main h3 {
  font-weight: normal;
}

.main h2, .main h3 {
  color: #0C0E57;
}

.main h1 {
  font-size: 3rem;
  font-weight: 300;
}


.main h2 {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 1rem;
}


.main p {
  line-height: 22px;
  font-size: 0.9rem;
  margin: 0 0 20px 0;
}

.round-image {
  background-size: cover;
  border-radius: 50%;
  background-color: #F3F3F9;
}

.squared-image {
  background-size: cover;
  border-radius: 6px;
}


/* Featured item */

.featured-items .illustration {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  margin-bottom: 15px;
}

.row-centered {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}


.row-centered-aired {
  max-width: 1100px;
  margin: 1.2rem auto;
}
/* faq */

.faq h3 {
  border-bottom: 1px solid #D6D6D6;
  margin-top: 2em;
  padding-bottom: 1em;
}


@media (max-width: 767px) {
  .col-2, .col-3, .col-text, .col-illustration {
    padding: 1.3rem;
  }
}

@media (min-width: 768px) {

  html:not(.ie) .flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .col-3 {
    width: calc(100% / 3);
  }
  .featured-items .col-3 {
    padding: 0 10px;
  }


  html.ie .row-centered, html.ie .flex-container .row-centered-aired {
    overflow: hidden;
  }

  .col-1 {
    width: 100%;
  }

  .col-2 {
    width: 50%;
  }


  .col-4 {
    width: calc(100% / 4);
  }
}


